<div class="text-center">
  <h1>Here is the list of all our cocktails</h1>
  <%= link_to "Create a new Cocktail", new_cocktail_path, class: "btn btn-warning" %>
</div>



<div id="cocktails">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= link_to(cocktail) do %>
        <div class="col-xs-12 col-sm-6 col-md-3">
        <h3><%= cocktail.name %></h3>
        <p><%= image_tag cocktail.picture, class: 'img_resize' %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
